* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('../images/grainy-background.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
  
  section {
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
    display: none;
    position: relative;
    background: none;
  }
  
  .visible {
    display: block;
  }
  
  /* Spørgsmål */
  #question-number {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #4b003b;
    margin-bottom: 10px;
  }
  
  #question-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 200px;
    color: #4b003b;
  }
  
  /* Svar-layout */
  #answer-options {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px, 50px, 0, 50px;
    margin: auto;
  }
  
  /* Svar-knapper */
  .answer-button {
    background-image: url('../images/grainy-background.webp'); /* skift til din sti */
    background-size: cover;
    color: #590051;
    width: 250px;       /* Ens bredde */
    height: 80px;       /* Ens højde */
    padding: 0;   
    border: 2px solid #efb99c;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin: 1em auto;
    transition: all 0.2s ease;
  }
  
  .answer-button:hover {
    background-color: #ffeef0;
    transform: translateY(-2px);
  }
  
  /* Feedback */
  #feedback-message {
    font-size: 26px;
    font-weight: bold;
    color: #4b003b;
    margin-bottom: 10px;
  }
  
  .feedback-info {
    font-size: 16px;
    color: #4b003b;
  }
  
  button {
    background: #fcd1e1;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #final-score {
    font-size: 18px;
    margin: 20px 0;
  }
  