* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('../images/grainy-background.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75em 4em 0 4em;
    font-size: 25px;
    font-weight: normal;
}

.mens-marie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mens-marie img {
  width: 40%; 
  max-width: 500px; 
  height: auto; 
}

.image-btn {
    background-image: url('../images/grainy-background.webp'); /* skift til din sti */
    background-size: cover;
    color: #590051;
    width: 150px;       /* Ens bredde */
    height: 60px;       /* Ens højde */
    padding: 0;   
    border: 2px solid #efb99c;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin: 1em auto;
  }

a{
    text-decoration: none;
}

.image-btn-container {
    display: flex;           
    justify-content: center;  
    align-items: center;      
    gap: 1em;                
    height: 100vh;            
  }

.bind img{
  width: 40%; 
  max-width: 200px; 
  height: auto; 
}

.kop img{
  width: 40%; 
  max-width: 200px; 
  height: auto; 
}

.tampon img{
  width: 40%; 
  max-width: 200px; 
  height: auto; 
}

.trusser img{
  width: 40%; 
  max-width: 200px; 
  height: auto; 
}

.bind-kop{
    

}

.tampon-trusser{

}

