* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('../images/grainy-background.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 40px;
    color: #590051;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75em 4em 0 4em;
    font-size: 25px;
    font-weight: normal;
    color: #590051;
}

.mens-marie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mens-marie img {
  width: 40%; 
  max-width: 500px; 
  height: auto; 
  animation: float 3s ease-in-out infinite;
}

.image-btn {
    background-image: url('../images/grainy-background.webp'); /* skift til din sti */
    background-size: cover;
    color: #590051;
    width: 150px;       /* Ens bredde */
    height: 60px;       /* Ens højde */
    padding: 0;   
    border: 2px solid #efb99c;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin: 1em auto;
  }

a{
    text-decoration: none;
}

.image-btn-container {
    display: flex;           
    justify-content: center;  
    align-items: center;      
    gap: 1em;                
    height: 100vh;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer containeren */
    z-index: 1;
  }

  .bind img,
  .kop img, .tampon img,
  .trusser img {
    width: 80%;
    max-width: 600px;
    height: auto;
    animation: float 3s ease-in-out infinite;
  }

.bind-kop{
    position: absolute;
  display: flex;
  flex-direction: row;
  gap: 45em;
  z-index: 0;
}


.top-left {
    top: 0;
  left: 0;
  margin: 1em;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
    margin: 1em;
  }

.tampon-trusser{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 45em;
    z-index: 0;
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }
